body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
html, body, #hero {
  height: 100%;
  width: 100%;
}

/*sailboat background with hero text under the nav*/

#header {
  background-color: #033048;
  height: 79px;
}
.header-flex {
  width: 72%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.logo {
  font-size: 48px;
  font-weight: 800;
}
.top.logo a:link,
.top.logo a:visited {
  color: #fff;
  text-decoration: none;
}
.top.logo a:hover,
a.social-icons:hover  {
  filter: opacity(0.9);
}
.header-flex .header-list {
  display: inline;
  justify-content: space-between;
  padding-left: 30px;
}
.header-list a:link,
.header-list a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #f9e42e;
}
.header-list a:hover {
  color: #59b8de;
  border-top: 2px solid #f9e42e;
}
#hero {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
#tagline {
  display: block;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding-top: 170px;
  padding-bottom: 90px;
}
.button {
  font-size: 28px;
  font-weight: 800;
  border-radius: 5px;
  padding: 15px 35px; 
}
a.button:hover {
  background-color: #59b8de;
}
.get.button {
  background-color: #f9e42e;
}
a.get.button {
  color: #033048;
  text-decoration: none;
}

/*flexed benefits section with light grey background and robot img*/

#benefits {
  background-color: #f0efef;
}
#index-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 6%;
}
#robot-img {
  height: 350px;
  padding-right: 6%;
}
.benefits-box {
  text-align: left;
  font-weight: 300;
  color: #606161;
}
#graf-title {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  padding-bottom: 30px; 
}
#graf {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 5px;
}
.check-bullet {
  list-style-type: none;
  padding-left: 15px;
}
.check-bullet li {
  font-size: 18px;
  line-height: 24px;
  position:relative;
  padding-left:10px;
  left: 30px;
}
.check-bullet li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #033048;
  position: absolute;
  left: -20px;
}

/*testimonial/blockquote section with waves*/

#testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonial-box {
  width: 580px;
  margin: auto;
  padding: 120px 0px;
  color: #fff;
}
.smart-quotes {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
  color: #f9e42e;
  line-height: 20px;
  vertical-align: bottom;
  padding: 0 3px;
}
#quote {
  display: inline;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  line-height: 43px;
}
#attribution {
  display: block;
  font-weight: 600; 
  font-size: 25px;
  text-align: right;
  margin: 20px 20px 0 0;
}

/*yellow call to action band*/

#cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #f9e42e;
}
.now.button {
  background-color: #033048;
}
a.now.button {
  color: #fff;
  text-decoration: none;
}

/*black footer*/

#footer {
  background-color: #121212;
}
.bottom.logo {
  color: #f9e42e;
  padding: 50px 0 70px 0;
  margin: 0;
}
#social-icons-container {
  display: flex;
  justify-content: space-between;
  width: 148px;
  margin: auto;
}
.social-icons {
  font-size: 40px;
}
a.social-icons:link,
a.social-icons:visited {
  color: #f0efef;
  text-decoration: none;
}
#copyright {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin: 70px 0 55px 0;
}

/*hamburger menu*/

header .close-nav {
  position: absolute;
  top: 33px;
  right: 0px;
  z-index: 83;
  cursor: pointer;
  display: none;
}
header .close-nav span {
  display: block;
  width: 30px;
  height: 6px;
  border-radius: 25px;
  background-color: #f9e42e;
  transform: rotate(45deg) translate(4px);
  -webkit-transform: rotate(45deg) translate(4px);
  -moz-transform: rotate(45deg) translate(4px);
}
header .close-nav span.right {
  transform: rotate(-45deg) translate(4px);
  -webkit-transform: rotate(-45deg) translate(4px);
  -moz-transform: rotate(-45deg) translate(4px);
}

/*media queries*/

@media only screen and (max-width: 1140px) {
  #index-flex {
    display: block;
    max-width: 675px;
  }
  #robot-img {
    max-width: 100%;
    height: auto;
    padding: 0px 0px 50px 0px;
  }
}
@media only screen and (max-width: 1024px) {
  header .close-nav {
    display: block;
    padding: 0 14.5% 0 0;
  }
  nav {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #033048;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    z-index: 80;
  }
  .header-flex .header-list {
    font-size: 30px;
    display: block;
    text-align: right;
  }
  .nav-links {
    margin-top: 10%;
  }
  .nav-links a:link,
  .nav-links a:visited {
    line-height: 50px;
    margin-right: 13%;
  }
  .hamburger {
    display: block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 25px;
    margin: 4px 0;
    background-color: #f9e42e;
  }  
}
@media only screen and (max-width: 830px) {
  .logo {
    font-size: 38px;
  }
  .button {
    font-size: 24px;
  }
  #tagline {
    font-size: 34px;
    padding: 170px 40px 250px 40px;
  }
  #graf-title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  #graf {
    font-size: 20px;
    line-height: 26px;
  }
  .check-bullet li {
    font-size: 15px;
    line-height: 21px;
    padding-left: 3px;
  }
  #testimonial-box {
    max-width: 85%;
    height: auto;
  }
  .smart-quotes {
    font-size: 50px;
  }
  #quote {
    font-size: 24px;
    line-height: 33px;
  }
  #attribution {
    font-size: 16px;
  }
  .social-icons {
    font-size: 30px;
  }
  #copyright {
    font-size: 14px;
  }
}