* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

.box {
  border: 1px solid black;
  background-color: #f3f3f3;
}

header, 
footer {
  height: 100px;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}
